#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  background-color: #000;
  color: #fff;

}
